<div class="side-bar">
    <div class="menu-header">
        <i class="uil uil-ellipsis-h"></i>
    </div>
    
    <ul class="side-bar_list list-one">
        <li [routerLink]="item.router" *ngFor="let item of mainMenu.defaultOptions">
            <div class="list-wrapper-item">
                <i [ngClass]="['uil', item.icon]"></i>
                <span class="list-label">{{ item.name }}</span>
            </div>
        </li>
    </ul>
    
    <div class="side-bar_separator"></div>
    
    <ul class="side-bar_list list-two">
        <li *ngFor="let item of mainMenu.accessLink">
            <div class="list-wrapper-item">
                <i [ngClass]="['uil', item.icon]"></i>
                <span class="list-label">{{ item.name }}</span>
            </div>
        </li>
    </ul>
    
    <div class="side-bar_separator line-separator"></div>
    
    <ul class="side-bar_list list-three">
        <li *ngFor="let item of customOptions">
            <div class="list-wrapper-item">
                <span class="list-label">{{ item.name }}</span>
            </div>
        </li>
    </ul>

    <ul>
        <li>
            <p>
                Dato actual:{{ currentData$ | async}}
            </p>
        </li>
        <li>
            <p>
                Mensaje actual: {{currentMessage$ | async}}
            </p>
        </li>
    </ul>
</div>