:host {
  display: block;
  height: 90px;
  background-color: #181818;
  border-top: 1px solid #282828;
}



.media-player {
  height: 100%;
  display: grid;
  grid-template-columns: 280px 1fr 220px;
  align-items: center;
  padding: 0 24px;
  gap: 16px;
  color: #fff;
}


/* LEFT */
.player-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.cover {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 6px;
}

.track-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist {
  font-size: 12px;
  color: #b3b3b3;
}


/* CENTER */
.player-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;


  gap: 10px;
}


.controls {
  display: flex;
  align-items: center;
  gap: 18px;
}

.controls button {
  background: none;
  border: none;
  color: #b3b3b3;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.2s ease, transform 0.2s ease;
}

.controls button:hover {
  color: #fff;
  transform: scale(1.1);
}


.controls .play {
  background: #fff;
  color: #000;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls .play:hover {
  transform: scale(1.15);
}


/* PROGRESS */
.progress {
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.time {
  font-size: 11px;
  color: #b3b3b3;
}

/* SLIDER */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  flex:1;
  background: #535353;
  border-radius: 2px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #1db954;
  opacity: 0;
  transition: opacity 0.2s ease;
}

input[type="range"]:hover::-webkit-slider-thumb {
  opacity: 1;
}


/* RIGHT */
.player-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  color: #b3b3b3;
}

.player-right input[type="range"] {
  width: 90px;
}

