<div class="media-player">
  <!-- LEFT -->
  <div class="player-left">
    <img
      class="cover"
      src="https://akamai.sscdn.co/tb/next/?url=%2Fuploadfile%2Fletras%2Falbuns%2F5%2F7%2Fc%2Fb%2F31278.jpg&w=1920&q=75"
      alt="cover"
    />
    <div class="track-info">
      <span class="title">Fireside</span>
      <span class="artist">Arctic Monkeys</span>
    </div>
  </div>

  <!-- CENTER -->
  <div class="player-center">
    <div class="controls">
      <button>⏮</button>
      <button class="play">▶</button>
      <button>⏭</button>
    </div>

    <div class="progress">
      <span class="time">0:00</span>
      <input type="range" />
      <span class="time">3:45</span>
    </div>
  </div>

  <!-- RIGHT -->
  <div class="player-right">
    🔊
    <input type="range" />
  </div>
</div>
