.home-layout {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 1fr 90px;
  height: 100vh;
  overflow: hidden;
  background-color: #121212;
  background: linear-gradient(
    180deg,
    #2a2a2a 0%,
    #121212 35%,
    #121212 100%
  );
}


app-sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.home-content {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  overflow-y: auto;
  padding: 24px;
  margin-left: 40px;
}

app-media-player {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  border-top: 1px solid #282828;
  background-color: #181818;
}
